@model Gummi_Bear.Model.Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Edit Page</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Cost)
    @Html.TextBoxFor(model => model.Cost)

    @Html.LabelFor(model => model.CountryOfOrigin)
    @Html.TextBoxFor(model => model.CountryOfOrigin)

    <input type="submit" value="Edit Product" />
}